<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>{% block title %}Base document{% endblock %}</title>
    <meta name="viewport" content="width=device-width"/>
    <link href="{{ STATIC_URL }}css/kadist.css" rel="stylesheet" type="text/css" />
    <link href="{{ STATIC_URL }}css/jquery-ui.css" rel="stylesheet" type="text/css" />
    <link href="http://cdn.jsdelivr.net/qtip2/2.2.0/jquery.qtip.min.css" rel="stylesheet" type="text/css" />
    <link rel="shortcut icon" href="/favicon.ico" />
    {% block extra_header %}
    {% endblock %}
  </head>
  <body>

    <div id="header">
      {% block header %}
      {% include "navbar.html" %}
      {% endblock %}
    </div>

    <div id="content">
      {% block content %}
      {% endblock %}
    </div>

    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery-ui.min.js"></script>
    <script type="text/javascript" src="http://cdn.jsdelivr.net/qtip2/2.2.0/jquery.qtip.min.js"></script>
    <script type="text/javascript">
      $(document).ready( function () {
          $("#searchbox").autocomplete({ minLength: 1,
                                         source: '/kadist/complete/tag',
                                         select: function () {
                                             $(this).closest("form").submit();
                                         } });
          // Tooltip for similarity matrix
          $('.matrix').each(function() {
              $(this).qtip({
                  content: {
                      text: function(event, api) {
                          $.ajax({
                              url: api.elements.target.attr('href') // Use href attribute as URL
                          })
                              .then(function(content) {
                                  // Set the tooltip content upon successful retrieval
                                  api.set('content.text', content);
                              }, function(xhr, status, error) {
                                  // Upon failure... set the tooltip content to error
                                  api.set('content.text', status + ': ' + error);
                              });
                          return 'Loading...'; // Set some initial text
                      }
                  },
                  hide: {
                      fixed: true,
                      delay: 500
                  },
                  position: {
                      viewport: $(window)
                  },
                  style: 'qtip-wiki'
              });
          });

          // Tooltip for tags
          $('.tag').each(function() {
              $(this).qtip({
                  content: {
                      text: function(event, api) {
                          $.ajax({
                              url: api.elements.target.attr('href') + '/similar' // Assume we are always in a link
                          })
                              .then(function(content) {
                                  // Set the tooltip content upon successful retrieval
                                  api.set('content.text', content);
                              }, function(xhr, status, error) {
                                  // Upon failure... set the tooltip content to error
                                  api.set('content.text', status + ': ' + error);
                              });
                          return 'Loading...'; // Set some initial text
                      }
                  },
                  hide: {
                      fixed: true,
                      delay: 500
                  },
                  position: {
                      corner: {
                          target: 'rightMiddle',
                          tooltip: 'leftMiddle'
                      },
                      viewport: $(window),
                      adjust: {
                          screen: true
                      }
                  },
                  style: 'qtip-wiki'
              });
          });

      });
    </script>

    <div id="extrajs">
      {% block extrajs %}
      {% endblock %}
    </div>

  </body>
</html>
