{% extends "base.html" %}

{% load admin_urls %}
{% load url from future %}

{% block title %}KCN - Similarity matrix - {{ profiledata }}{% endblock %}

{% block extra_header %}
    <style type="text/css">

    .background {
        background-color: #fff;
    }

    line {
        stroke: #cde;
    }

    text.active {
        fill: red;
    }

    #loading {
        background-color: #fff;
        border: 1px solid #ddd;
        border-corner: 4px;
        position: fixed;
        top: 50%;
        left: 50%;
        padding: 10px;
        opacity: .8;
        text-align: center;
        display: none;
    }

     div.tooltip {
        position: fixed;
        text-align: center;
        max-width: 300px;
        max-height: 200px;
        padding: 8px;
        font: 10px sans-serif;
        background: #fff8ff;
        border: solid 1px #aaa;
        border-radius: 8px;
        pointer-events: none;
      }

     div.tooltip img {
         max-width: 90px;
     }

     .bar rect {
         fill: steelblue;
         shape-rendering: crispEdges;
     }
     
     .bar text {
         fill: #fff;
     }
     
     .axis path, .axis line {
         fill: none;
         stroke: #000;
         shape-rendering: crispEdges;
     }
    </style>
{% endblock %}

{% block content %}
    <div id="loading">
      <img width="24" height="24" src="{{ STATIC_URL }}img/loading.gif" alt="Loading...">
      <p>Loading...</p>
    </div>

    <div id="details">
    </div>

    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.mousewheel.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/d3.v3.min.js"></script>
    <script type="text/javascript">
      function flatten_array(array) {
          return array.reduce(function(a, b) {
              return a.concat(b);
          }, []);
      };
      var is_touch_device = ("ontouchstart" in window || window.DocumentTouch && document instanceof DocumentTouch);
      var width = $(window).width() - 50;
      var height = $(window).height() - 50;
      var margin = {top: 200, right: 0, bottom: 10, left: 200};
      var size = 1.5 * (width - margin.left - margin.right);
      // Scales
      var x, value_scale;

      // Add tooltip div
      var tooltip = d3.select('body').append('div')
          .attr('class', 'tooltip')
          .style('opacity', 1e-6);

      var svg = d3.select("body").append("svg")
          .attr("width", size + margin.left + margin.right)
          .attr("height", size + margin.top + margin.bottom)
//          .style("margin-left", margin.left + "px")
          .append("g")
          .attr("transform", "translate(" + margin.left + "," + margin.top + ")");

      var dist_values = svg.append("g")
          .attr("class", "histogram")
          .attr("width", margin.left)
          .attr("height", margin.top / 2)
          .attr("transform", "translate(-" + margin.left + ",-" + margin.top + ")");

      dist_values.append("text")
      .attr("x", margin.left)
      .attr("y", 10)
      .attr("text-anchor", "end")
      .text("Similarity distribution");

      var dist_sums = svg.append("g")
          .attr("class", "histogram")
          .attr("width", margin.left)
          .attr("height", margin.top / 2)
          .attr("transform", "translate(-" + margin.left + ",-" + margin.top / 2 + ")");

      dist_sums.append("text")
      .attr("x", margin.left)
      .attr("y", 10)
      .attr("text-anchor", "end")
      .text("Aggregate sim. distribution");

      function disp(f) {
          return Number(f).toPrecision(4);
      }

      $("#loading").show();
      d3.json("/kadist/api/profile/{{ profile }}", function(json) {
          $("#loading").hide();

          window.data = json;

          json.forEach(function (d) {
              // Add min/max info for each row
              var extent = d3.extent(d.similar.map(function (n) { return n.value }));
              d.min = extent[0];
              d.max = extent[1];
              d.nonnull = d.similar.filter(function (n) { return n.value > 0; }).length;
              d.sum = d.similar.map(function (n) { return n.value }).reduce(function(prev, current) { return current + prev; });
          });

          // Compute similarity values extent
          var n = json.length;
          var values = flatten_array(json.map( function (n) { return n.similar.map( function (s) { return s.value; }); }));
          var databounds = d3.extent(values)
          window.databounds = databounds;
          var info = {};

          // Reverse sort against sum and store title/index info in hash table
          json.sort(function (a, b) { return b.sum - a.sum });
          for (i = 0; i < json.length; i++) {
              json[i].index = i;
              info[json[i].work.pk] = { title: json[i].work.title,
                                        index: i }
          }
          
          var worktitle = function(pk) {
              return info[pk].title;
          }
          
          // Initialize scales
          x = d3.scale.ordinal().rangeBands([0, size]).domain(d3.range(n)),
          value_scale = d3.scale.linear().domain([databounds[1], databounds[0]]),

          svg.append("rect")
              .attr("class", "background")
              .attr("width", size)
              .attr("height", size);

          var row = svg.selectAll(".row")
              .data(json)
              .enter().append("g")
              .attr("class", "row")
              .attr("transform", function(d, i) { return "translate(0," + x(d.index) + ")"; })
              .each(cells);

          row.append("line")
              .attr("x2", size);

          row.append("text")
              .attr("x", -6)
              .attr("y", x.rangeBand() / 2)
              .attr("dy", ".32em")
              .attr("text-anchor", "end")
              .attr("data-id", function(d, i) { return d.work.pk; })
              .text(function(d, i) { return d.work.title; })
              .attr("data-title", function (d) { return "<p><strong>" + d.work.title + "</strong><br>Min = " + disp(d.min) + "<br>Max = " + disp(d.max) + "<br>Sum = " + disp(d.sum) + "<br>Non-null values = " + d.nonnull + "</p>"; })
              .on("mouseover", mouseover)
              .on("mouseout", mouseout)
              .on("mousemove", mousemove)
          
          var column = svg.selectAll(".column")
              .data(json)
              .enter().append("g")
              .attr("class", "column")
              .attr("data-id", function(d, i) { return d.work.pk; })
              .attr("transform", function(d, i) { return "translate(" + x(d.index) + ")rotate(-90)"; });

          column.append("line")
              .attr("x1", -size);

          column.append("text")
              .attr("x", 6)
              .attr("y", x.rangeBand() / 2)
              .attr("dy", ".32em")
              .attr("text-anchor", "start")
              .attr("data-id", function(d, i) { return d.work.pk; })
              .text(function(d, i) { return d.work.title; })
              .attr("data-title", function (d) { return "<p><strong>" + d.work.title + "</strong><br>Min = " + disp(d.min) + "<br>Max = " + disp(d.max) + "<br>Sum = " + disp(d.sum) + "<br>Non-null values = " + d.nonnull + "</p>"; })
              .on("mouseover", mouseover)
              .on("mouseout", mouseout)
              .on("mousemove", mousemove);

          // Values distribution
          draw_frequency(dist_values, values, databounds);
          // Sum distributions
          draw_frequency(dist_sums, json.map(function (d) { return d.sum }));

          function mouseover(d) {
              var text = "";
              if (this.attributes !== undefined && this.attributes.getNamedItem("data-title")) {
                  text= this.attributes.getNamedItem("data-title").value;
                  tooltip.html(text)
                      .transition()
                      .duration(300)
                      .style('opacity', 1);
              }
          }

          function mousemove(d) {
              tooltip.style('left', (Math.min(window.width - $(tooltip[0]).width(), d3.event.pageX + 20)) + 'px')
                  .style('top', (Math.min(window.height - $(tooltip[0]).height(), d3.event.pageY + 20)) + 'px');
          }

          function mouseout() {
              // Hide tooltip
              tooltip.transition()
                  .duration(300)
                  .style('opacity', 1e-6);
          }

          function details(d) {
              $("#details").empty().append("<p>Loading tag similarity matrix...</p>")
                  .dialog({
                      modal: true,
                      minWidth: 800,
                      closeOnEscape: true
                  });
              $.ajax({ url: "/kadist/matrix/" + d.origin + "/" + d.destination,
                       dataType: "html" })
                  .done(function( html ) {
                      $("#details").empty().append(html);
                  });
          }

          function cells(row) {
              var cell = d3.select(this).selectAll(".cell")
                  .data(row.similar)
                  .enter().append("rect")
                  .attr("class", "cell")
                  .each( function (d) {
                      d.origin_title = worktitle(d.origin);
                      d.destination_title = worktitle(d.destination);
                  })
                  .attr("x", function(d, i) { return x(info[d.destination].index); })
                  .attr("width", x.rangeBand())
                  .attr("height", x.rangeBand())
                  .attr("data-origin", function(d) { return d.origin; })
                  .attr("data-destination", function(d) { return d.destination; })
                  .attr("data-value", function(d) { return d.value; })
                  .attr("data-title", function (d) { return "<p>Similarity " + d.value + " between<br>" + d.origin_title + "<br>and<br>" + d.destination_title + "</p><p>Click for tag details.</p>"; })
                  .style("fill-opacity", function(d) { return value_scale(d.value); })
                  .style("fill", "#ccc")
                  .on("mouseover", mouseover)
                  .on("mouseout", mouseout)
                  .on("mousemove", mousemove)
                  .on("click", details);
          }

          function draw_frequency(container, values, databounds) {
              var width = container.attr("width") * 1.0;
              var height = container.attr("height") * .6;
              var nbins = 20;

              if (databounds === null || databounds === undefined)
                  databounds = d3.extent(values);

              // A formatter for counts.
              var formatCount = d3.format(",.f");
              
              var nx = d3.scale.linear()
                  .domain(databounds)
                  .range([0, width]);
              
              // Generate a histogram using twenty uniformly-spaced bins.
              var data = d3.layout.histogram()
                  .bins(nbins)
              (values.filter( function (n) { return n > 0 }));
              
              var ny = d3.scale.linear()
                  .domain([0, d3.max(data, function(d) { return d.y; })])
                  .range([height, 0]);
              
              var xAxis = d3.svg.axis()
                  .scale(nx)
                  .orient("bottom");

              var bar = container.selectAll(".bar")
                  .data(data)
                  .enter().append("g")
                  .attr("class", "bar")
                  .attr("transform", function(d) { return "translate(" + nx(d.x) + "," + ny(d.y) + ")"; });
              
              bar.append("rect")
                  .attr("x", 1)
                  .attr("width", nx(databounds[0] + data[0].dx))
                  .attr("height", function(d) { return height - ny(d.y); })
                  .attr("data-title", function(d) { return disp(d.x) + " - " + disp(d.x + d.dx) + " - " + d.y + " items"; })
                  .on("mouseover", mouseover)
                  .on("mouseout", mouseout)
                  .on("mousemove", mousemove);
              
              //bar.append("text")
              //    .attr("dy", ".75em")
              //    .attr("y", 6)
              //    .attr("x", nx(data[0].dx) / 2)
              //    .attr("text-anchor", "middle")
              //    .text(function(d) { return formatCount(d.y); });
              
              container.append("g")
                  .attr("class", "x axis")
                  .attr("transform", "translate(0," + height + ")")
                  .call(xAxis);
          }
      });
    </script>
{% endblock %}
