{% extends "base.html" %}

{% load admin_urls %}
{% load url from future %}

{% block title %}KCN - {{ params.kw }}{% endblock %}

{% block extra_header %}
    <style type="text/css">
    .tag, .work {
        cursor: pointer;
    }

    .shape {
        stroke: steelblue;
        stroke-width: 1.5px;
    }

    .cluster .shape {
        display: none;
    }

    .link {
        fill: none;
        stroke: #9ecae1;
        stroke-width: 1.5px;
    }

    .label {
        font-size: 8pt;
    }

    .root .label {
        font-size: 10pt;
    }

    .cluster .label {
        opacity: 0.6;
    }

    #loading {
        background-color: #fff;
        border: 1px solid #ddd;
        border-corner: 4px;
        position: fixed;
        top: 50%;
        left: 50%;
        padding: 10px;
        opacity: .8;
        text-align: center;
        display: none;
    }
    </style>
{% endblock %}

{% block content %}
    <div id="loading">
      <img width="24" height="24" src="{{ STATIC_URL }}img/loading.gif" alt="Loading...">
      <p>Loading...</p>
    </div>

    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.mousewheel.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/d3.v3.min.js"></script>
    <script type="text/javascript">
      var w = $(window).width() - 50;
      var h = $(window).height() - 50;
      var root = null;
      var diameter = Math.min(w, h);
      var angle = 0;

      var tree = d3.layout.tree()
                   .size([360, diameter / 2 - 60])
                   .separation(function(a, b) { return (a.parent == b.parent ? 1 : 2) / a.depth; });

      var diagonal = d3.svg.diagonal.radial()
                       .projection(function(d) { return [d.y, d.x / 180 * Math.PI]; });

      var svg = d3.select("body").append("svg")
                  .attr("width", w)
                  .attr("height", h)
                  .append("g")
                  .attr("transform", "translate(" + w / 2 + "," + h / 2 + ")")
                  .append("g")
                  .attr("id", "box")
                  .attr("transform", "rotate(" + angle + ")");

      function update() {
          // Update the graph according to what is loaded in the root variable
          var nodes = tree.nodes(root);
          var links = tree.links(nodes);

          var link = svg.selectAll(".link")
              .data(links)
              .enter().append("path")
              .attr("class", "link")
              .attr("d", diagonal);

          var node = svg.selectAll(".node")
              .data(nodes)
              .enter().append("g")
              .on("click", function(d) { if (d.type == 'tag')
                                             document.location.pathname = "/kadist/graph/tag/" + d.name
                                         else if (d.type == 'work')
                                             document.location.pathname = "/kadist/graph/work/" + d.id
                                         else if (d.type == 'artist')
                                             document.location.pathname = "/kadist/graph/artist/" + d.id
                                       })
              .attr("class", function(d) { return "node " + d.type + (d == root ? " root " : "")})
              .attr("transform", function(d) { return d == root ? "": "rotate(" + (d.x - 90) + ")translate(" + d.y + ")"; })

          // Different shapes according to node type
          node.filter(function(n) { return n.type == 'work' }).append("rect")
              .attr("class", "shape")
              .attr("fill", '#fff')
              .attr("width", function (d) { return (d == root ? 120 : 12) })
              .attr("height", function (d) { return (d == root ? 30 : 6) })
              .attr("rx", 2)
              .attr("transform", function (d) { return (d == root ? "translate(-60, -15)" : "translate(-6, -4)") });

          node.filter(function(n) { return n.type != 'work' }).append("circle")
              .attr("class", "shape")
              .attr("fill", function (d) { return ((d != root && d.type == 'tag') ? d3.rgb('#9cf').brighter(d.size / 48.0).toString() : '#fff') })
              .attr("r", function (d) { return (d == root ? 50.0 : 4.5) });

          // Append the text to all nodes
          node.append("text")
              .attr("dy", ".31em")
              .attr("class", "label")
              .attr("text-anchor", function(d) { return d == root ? "middle" : (d.x < 180 ? "start" : "end"); })
              .attr("transform", function(d) { return d == root ? "" : d.x < 180 ? "translate(8)" : "rotate(180)translate(-8)"; })
              .text(function(d) { return d.name; });

          d3.select(self.frameElement).style("height", diameter - 150 + "px");
      }

      function load(kw, type) {
          var clusters = [ ];

          $("#loading").show();
          d3.json("/kadist/api/" + type + "/"  + kw, function(json) {
              if (type == 'tag') {
                  if (kw) {
                      if (json.works.length) {
                          clusters.push({ name: "Works",
                                          type: 'cluster',
                                          children: json.works.map( function(w) {
                                              return { name: w.title,
                                                       url: w.url,
                                                       id: w.id,
                                                       author: w.creatorname,
                                                       type: 'work'
                                                     };
                                          })
                                        });
                      }
                      if (json.artists.length) {
                          cluster.push({ name: 'artists',
                                         type: 'cluster',
                                         children: json.artists.map( function(a) {
                                             return { name: a.name,
                                                      url: a.url,
                                                      id: a.id,
                                                      type: 'artist'
                                                    };
                                         })
                                       });
                      }

                      var translation = {
                          synonyms: "Synonyms",
                          hypernyms: "More general",
                          hyponyms: "More specific",
                          holonyms: "Part of",
                          meronyms: "Contained in"
                      };

                      ['synonyms', 'hypernyms', 'hyponyms', 'holonyms', 'meronyms'].forEach( function(cat) {
                          if (json[cat].length) {
                              clusters.push( { name: translation[cat],
                                               type: 'cluster',
                                               children: json[cat].map( function(t) {
                                                   return { name: t[0],
                                                            size: t[1],
                                                            type: 'tag'
                                                          }
                                               })
                                             });
                          }
                      });

                      // Single tag info
                      root = { name: json.tag,
                               type: 'tag',
                               children: clusters }
                  } else {
                      // Tag list: sort along count to truncate, then sort again name
                      if (json.length > 180) {
                          json.sort(function(a, b) { return b[1] - a[1]; })
                          json = json.slice(0, 180);
                          json.sort(function(a, b) { return a[0].localeCompare(b[0]) });
                      }
                      var l = [];
                      for (var i = 0; i < json.length; i++) {
                          l.push( { name: json[i][0],
                                    type: "tag",
                                    count: json[i][1],
                                    size: json[i][2] } );
                      }
                      root = { "name": "Tags",
                               type: 'tag',
                               children: l }
                  }
              } else if (type == 'work') {
                  if (kw) {
                      clusters.push({ name: 'artist',
                                      type: 'cluster',
                                      children: [ { name: json.artist.name,
                                                    type: 'artist',
                                                    id: json.artist.id,
                                                    url: json.artist.url } ] });
                      if (json.tags.length) {
                          var l = [];
                          for (var i = 0; i < json.tags.length; i++)
                              l.push({ name: json.tags[i],
                                       type: "tag",
                                       size: 24 });
                          clusters.push({ name: 'Tags',
                                          type: 'cluster',
                                          children: l });
                      }
                      if (json.similar.length) {
                          var l = [];
                          for (var i = 0; i < Math.min(json.similar.length, 12); i++) {
                              l.push({ name: json.similar[i].title,
                                       type: 'work',
                                       id: json.similar[i].id,
                                       url: json.similar[i].url });
                          }
                          clusters.push({ name: 'Similar works',
                                          type: 'cluster',
                                          children: l.slice() });
                      }
                  }

                  root = { name: json.title,
                           type: 'work',
                           children: clusters };
              } else if (type == 'artist') {
                  if (kw) {
                      if (json.tags.length) {
                          var l = [];
                          for (var i = 0; i < json.tags.length; i++)
                              l.push({ name: json.tags[i],
                                       type: "tag",
                                       size: 24 });
                          clusters.push({ name: 'Tags',
                                          type: 'cluster',
                                          children: l.slice() });
                      }
                      if (json.works.length) {
                          var l = [];
                          for (var i = 0; i < json.works.length; i++)
                              l.push({ name: json.works[i].title,
                                       type: "work",
                                       url: json.works[i].url,
                                       id: json.works[i].id
                                     });
                          clusters.push({ name: 'Works',
                                          type: 'cluster',
                                          children: l.slice() });
                      }
                  }

                  root = { name: json.name,
                           type: 'artist',
                           children: clusters };                  
              }
              update();
              $("#loading").hide();
          });
      }

      load("{{ params.kw }}", "{{ params.type }}");

      $("body").on("mousewheel", function (evt, delta, deltaX, deltaY) {
          evt.preventDefault()
          if (deltaY > 0)
              angle += 3;
          else
              angle -= 3;
          $("#box").attr("transform", "rotate(" + angle + ")");
          $(".root").attr("transform", "rotate(" + (- angle) + ")")
      });
    </script>
{% endblock %}

