{% extends "base.html" %}

{% load admin_urls %}
{% load url from future %}

{% block title %}KCN - {{ params.kw }}{% endblock %}

{% block extra_header %}
    <style type="text/css">
    .tag, .work, .artist {
        cursor: pointer;
    }

    .shape {
        stroke: steelblue;
        stroke-width: 1.5px;
    }

    .cluster .shape {
        display: none;
    }

    .link {
        fill: none;
        stroke: #9ecae1;
        stroke-width: 1.5px;
    }

    .label {
        font-size: 8pt;
    }

    .root .label {
        font-size: 10pt;
    }

    .work .wrapped {
        text-align: center;
        font-size: 8pt !important;
    }

    .cluster .label {
        opacity: 0.6;
    }

    #loading {
        background-color: #fff;
        border: 1px solid #ddd;
        border-corner: 4px;
        position: fixed;
        top: 50%;
        left: 50%;
        padding: 10px;
        opacity: .8;
        text-align: center;
        display: none;
    }
    </style>
{% endblock %}

{% block content %}
    <div id="loading">
      <img width="24" height="24" src="{{ STATIC_URL }}img/loading.gif" alt="Loading...">
      <p>Loading...</p>
    </div>

    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.mousewheel.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/d3.v3.min.js"></script>
    <script type="text/javascript">
      var w = $(window).width() - 50;
      var h = $(window).height() - 50;
      var root = null;
      var diameter = Math.min(w, h);
      var angle = 0;

      var node_dimensions = {
          circle: {
              diameter: 4.5
          },
          rootcircle: {
              diameter: 50,
              textwidth: 90,
              textheight: 70
          },
          rect: {
              width: 12,
              height: 6
          },
          rootrect: {
              width: 120,
              height: 60,
              textwidth: 116,
              textheight: 54
          }
      };

      var tree = d3.layout.tree()
                   .size([360, diameter / 2 - 60])
                   .separation(function(a, b) { return (a.parent == b.parent ? 1 : 2) / a.depth; });

      var diagonal = d3.svg.diagonal.radial()
                       .projection(function(d) { return [d.y, d.x / 180 * Math.PI]; });

      var svg = d3.select("body").append("svg")
                  .attr("width", w)
                  .attr("height", h)
                  .append("g")
                  .attr("transform", "translate(" + w / 2 + "," + h / 2 + ")")
                  .append("g")
                  .attr("id", "box")
                  .attr("transform", "rotate(" + angle + ")");

      function update(default_angle) {
          // Update the graph according to what is loaded in the root variable
          var nodes = tree.nodes(root);
          if (isNaN(nodes[0].x))
              nodes.forEach( function(n) { n.x = 0 });
          if (default_angle === undefined && root.children)
              default_angle = 90 - root.children[0].x;
          // Normalize angles
          nodes.forEach(function(n) { n.x = (n.x + default_angle) % 360 });
          var links = tree.links(nodes);

          var link = svg.selectAll(".link")
              .data(links)
              .enter().append("path")
              .attr("class", "link")
              .attr("d", diagonal);

          var node = svg.selectAll(".node")
              .data(nodes)
              .enter().append("g")
              .on("click", function(d) { if (d.type == 'tag')
                                             document.location.pathname = "/kadist/graph/tag/" + d.name
                                         else if (d.type == 'work')
                                             document.location.pathname = "/kadist/graph/work/" + d.id
                                         else if (d.type == 'artist')
                                             document.location.pathname = "/kadist/graph/artist/" + d.id
                                       })
              .attr("class", function(d) { return "node " + d.type + (d == root ? " root " : "")})
              .attr("transform", function(d) { return d == root ? "": "rotate(" + (d.x - 90) + ")translate(" + d.y + ")"; })

          // Different shapes according to node type
          node.filter(function(n) { return n.type == 'work' }).append("rect")
              .attr("class", "shape")
              .attr("fill", '#fff')
              .attr("width", function (d) { var dim = (d == root ? node_dimensions.rootrect : node_dimensions.rect);
                                            return dim.width; })
              .attr("height", function (d) { var dim = (d == root ? node_dimensions.rootrect : node_dimensions.rect);
                                             return dim.height; })
              .attr("rx", 2)
              .attr("transform", function (d) { var dim = (d == root ? node_dimensions.rootrect : node_dimensions.rect);
                                                return "translate(" + (-dim.width / 2) + ", " + (-dim.height/2) + ")"; });

          node.filter(function(n) { return n.type != 'work' }).append("circle")
              .attr("class", "shape")
              .attr("fill", function (d) { return ((d != root && d.type == 'tag') ? d3.rgb('#9cf').brighter((48 - d.size) / 48.0).toString() : '#fff') })
              .attr("r", function (d) { return (d == root ? node_dimensions.rootcircle.diameter : node_dimensions.circle.diameter) });

          // Append the text to all nodes
          node.filter(function(n) { return n != root }).append("text")
              .attr("dy", ".31em")
              .attr("class", "label")
              .attr("text-anchor", function(d) { return d == root ? "middle" : (d.x < 180 ? "start" : "end"); })
              .attr("transform", function(d) { return d == root ? "" : d.x < 180 ? "translate(8)" : "rotate(180)translate(-8)"; })
              .text(function(d) { return d.name; });

          // Wrap the node label
          svg.selectAll(".node.root").append("foreignObject")
              //.attr("x", function(d) { return d._children ? -8 : -48; }) /*the position of the text (left to right)*/
              //.attr("y", 3) /*the position of the text (Up and Down)*/
              .attr("width", function(d) { var dim = (d.type == 'work' ? node_dimensions.rootrect : node_dimensions.rootcircle);
                                           return dim.textwidth; })
              .attr("height", function(d) { var dim = (d.type == 'work' ? node_dimensions.rootrect : node_dimensions.rootcircle);
                                            return dim.textheight; })
              .attr("transform", function (d) { if (d.type == 'work')
                  return "translate(" + (-node_dimensions.rootrect.width / 2) + ", " + (-node_dimensions.rootrect.height/2) + ")";
                                                else
                                                    return "translate(" + (-node_dimensions.rootcircle.diameter / 2) + ", " + (-node_dimensions.rootcircle.diameter / 2) + ")"; })
              .append("xhtml:body")
              .append("p")
              .attr("class", "wrapped label")
              .text(function(d) { return d.name; });

          d3.select(self.frameElement).style("height", diameter - 150 + "px");
      }

      function load(kw, type) {
          var clusters = [ ];

          $("#loading").show();
          d3.json("/kadist/api/" + type + "/"  + kw, function(json) {
              if (type == 'tag') {
                  if (kw) {
                      if (json.works.length) {
                          clusters.push({ name: "Works",
                                          type: 'cluster',
                                          children: json.works.map( function(w) {
                                              return { name: w.title,
                                                       url: w.url,
                                                       id: w.id,
                                                       author: w.creatorname,
                                                       type: 'work'
                                                     };
                                          })
                                        });
                      }
                      if (json.artists.length) {
                          clusters.push({ name: 'Artists',
                                         type: 'cluster',
                                         children: json.artists.map( function(a) {
                                             return { name: a.name,
                                                      url: a.url,
                                                      id: a.id,
                                                      type: 'artist'
                                                    };
                                         })
                                       });
                      }

                      var translation = {
                          synonyms: "Synonyms",
                          hypernyms: "More general",
                          hyponyms: "More specific",
                          holonyms: "Part of",
                          meronyms: "Contained in"
                      };

                      ['synonyms', 'hypernyms', 'hyponyms', 'holonyms', 'meronyms'].forEach( function(cat) {
                          if (json[cat].length) {
                              clusters.push( { name: translation[cat],
                                               type: 'cluster',
                                               children: json[cat].map( function(t) {
                                                   return { name: t[0],
                                                            size: t[1],
                                                            type: 'tag'
                                                          }
                                               })
                                             });
                          }
                      });

                      // Single tag info
                      root = { name: json.tag,
                               type: 'tag',
                               children: clusters }
                  } else {
                      // Tag list: sort along count to truncate, then sort again name
                      if (json.length > 180) {
                          json.sort(function(a, b) { return b[1] - a[1]; })
                          json = json.slice(0, 180);
                          json.sort(function(a, b) { return a[0].localeCompare(b[0]) });
                      }
                      root = { name: "Tags",
                               type: 'cluster',
                               children: json.map( function(t) {
                                   return { name: t[0],
                                            type: "tag",
                                            count: t[1],
                                            size: t[2] }
                               })
                             };
                  }
              } else if (type == 'work') {
                  if (kw) {
                      if (json.similar.length)
                          clusters.push({ name: 'Similar works',
                                          type: 'cluster',
                                          children: json.similar.slice(0, 12).map( function(w) {
                                              return { name: w.title,
                                                       url: w.url,
                                                       id: w.id,
                                                       author: w.creatorname,
                                                       type: 'work'
                                                     };
                                          })
                                        });

                      clusters.push({ name: 'Artist',
                                      type: 'cluster',
                                      children: [ { name: json.artist.name,
                                                    type: 'artist',
                                                    id: json.artist.id,
                                                    url: json.artist.url } ] });
                      if (json.tags.length)
                          clusters.push({ name: 'Tags',
                                          type: 'cluster',
                                          children: json.tags.map( function(t) {
                                              return { name: t,
                                                       type: "tag",
                                                       size: 24 };
                                          })
                                        });

                      root = { name: json.title,
                               type: 'work',
                               url: json.url,
                               id: json.id,
                               children: clusters };
                  } else {
                      root = { name: 'Works',
                               type: 'cluster',
                               children: json.map( function(w) {
                                   return { name: w.title,
                                            url: w.url,
                                            id: w.id,
                                            author: w.creatorname,
                                            type: 'work'
                                          };
                               })
                             };
                  }
              } else if (type == 'artist') {
                  if (kw) {
                      if (json.tags.length)
                          clusters.push({ name: 'Tags',
                                          type: 'cluster',
                                          children: json.tags.map( function(t) {
                                              return { name: t,
                                                       type: "tag",
                                                       size: 24 };
                                          })
                                        });

                      if (json.works.length)
                          clusters.push({ name: 'Works',
                                          type: 'cluster',
                                          children: json.works.map( function(w) {
                                              return { name: w.title,
                                                       type: "work",
                                                       url: w.url,
                                                       id: w.id };
                                          })
                                        });

                      root = { name: json.name,
                               type: 'artist',
                               children: clusters }
                  };

                  } else {
                      root = { name: "Artists",
                               type: 'cluster',
                               children: json.map( function(a) {
                                   return { name: a.name,
                                            url: a.url,
                                            id: a.id,
                                            type: 'artist'
                                          };
                               })
                             }
                  }

              update();
              $("#loading").hide();
          });
      }

      load("{{ params.kw }}", "{{ params.type }}");

      $("body").on("mousewheel", function (evt, delta, deltaX, deltaY) {
          evt.preventDefault()
          if (deltaY > 0)
              angle += 3;
          else
              angle -= 3;
          $("#box").attr("transform", "rotate(" + angle + ")");
          $(".root").attr("transform", "rotate(" + (- angle) + ")")
      });
    </script>
{% endblock %}

