{% extends "base.html" %}

{% load admin_urls %}
{% load url from future %}

{% block title %}Kadist catalogue navigator{% endblock %}

{% block content %}
  <div class="part_name">Available keywords</div>
  <ul class="description taglist" id="tags">
    {% for tag in tags %}
    <li><a style="font-size: {{ tag.1 }}0pt" title="{{ tag.1 }} element{{ tag.1|pluralize }}" href="{{ tag.0 }}">{{ tag.0 }}</a></li>
    {% endfor %}
  </ul>

  <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.min.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}js/kadist.js"></script>
{% endblock %}
