<link href="{{ STATIC_URL }}css/kadist.css" rel="stylesheet" type="text/css" />
{% load kadist %}
<div>
  <h1>Similarity matrix</h1>
  <p>Between <em>{{ origin }}</em> and <em>{{ destination }}</em> :</p>
<table>
  <th>
    {% for c in cols %}
    <td><a class="tag major tagref" href="../tag/{{ c }}">{{ c }}</a></td>
    {% endfor %}
  </th>
  {% for i in data %}
  <tr>
    <td><a class="tag major tagref" href="../tag/{{ i.0 }}">{{ i.0 }}</a></td>
    {% for c in i.1 %}
    <td class="similar{{ c|similarity_index }}">{{ c|floatformat:2 }}</td>
    {% endfor %}
  </tr>
  {% endfor %}
</table>
</div>
