      <ul class="navbar">
        <li><a title="Home page - main menu" id="menu_home" href="/kadist/">Home</a>
          <ul id="submenu_home" class="submenu">
            <li><a title="List of works" href="/kadist/work/">Works</a></li>
            <li><a title="List of artists" href="/kadist/artist/">Artists</a></li>
        </ul></li>
{% if user.is_active and user.is_staff %}
        <li><a title="General administration" id="menu_admin" href="/admin/kadist/">Admin</a>
          <ul id="submenu_admin" class="submenu">
            <li><a title="Edition of works" href="/admin/kadist/work/">Works</a></li>
            <li><a title="Edition of artists" href="/admin/kadist/artist/">Artists</a></li>
        </ul></li>
{% endif %}
        <li><a title="Tag cloud" id="menu_taglist" href="/kadist/tag/">Tag list</a></li>
        <li><a title="Graph view" id="menu_graph" href="/kadist/graph/">Graph</a></li>
        <li><a title="Logout" id="menu_logout" title="Connecté en tant que {{ user }}" href="/accounts/logout">Logout</a></li>
        <li><form action="/kadist/tag"><input id="searchbox" autofocus="" placeholder="Enter tag to search for..." size="20" name="keyword" type="text"></form></li>
      </ul>
