<link href="{{ STATIC_URL }}css/kadist.css" rel="stylesheet" type="text/css" />
{% load kadist %}
<div>
  <h2>{{ object_list|length }} works having a tag similar (> 0.8) with {{ tag }}</h2>
  <ul class="description">
    {% for w in object_list %}
    <li class="taggeditem"><a title="{{ w.description }}" href="{{ w.get_absolute_url }}">{{ w.title }}</a> (<a href="{{ w.creator.get_absolute_url }}">{{ w.creator }}</a>) <span class="taglist">{% for t in w.major_tags.all|slice:":30" %}<a class="tag major tagref {% if t.name in similar_tags %}similar2{% endif %}" href="/kadist/tag/{{ t.name }}">{{ t.name }}</a> -{% endfor %}</span></li>
    {% endfor %}
  </ul>
</div>
