{% extends "base.html" %}

{% load admin_urls %}
{% load url from future %}
{% load kadist %}

{% block title %}Ksearch - survey {{ profile }}{% endblock %}

{% block content %}

{% for profile in profiles %}

<h1>Formula {{ profile }} - {{ profilelabel }}</h1>

<ol class="surveylist">

  {% for work in works %}
  <li class="surveywork"><strong>Reference</strong>: <a href="{{ work.get_absolute_url }}">{{ work.title }}</a> by <a href="/kadist/artist/{{ work.creator.pk }}">{{ work.creator }}</a> ({{ work.year }}).
    {% if work.imgurl %}
    <img class="illustration" src="{{ work.imgurl }}">
    {% endif %}
    <br/>
    <strong>Tags</strong> {% for kw in work.major_tags.all %}<a class="tag major" href="../tag/{{ kw }}">{{ kw }}</a> - {% endfor %}
    <p><strong>Similar works</strong></p>
    <ul class="similarlist">
      {% for s in work|similar:profile %}
      <li>
        <img class="tooltipimg" src="{{ s.work.imgurl }}" alt="" />
        <a title="{{ s.work.description }}" target="_blank" href="{{ s.work.url }}">{{ s.work }}</a> <a class="matrix similar{{ s.similarity|similarity_index }}" target="_blank" href="/kadist/matrix/{{ work.pk }}/{{ s.work.pk }}">{{ s.similarity|floatformat:2 }}</a> - {% for kw in s.work.major_tags.all %}<a class="tag major" href="../tag/{{ kw }}">{{ kw }}</a> - {% endfor %}
      </li>
      {% endfor %}
    </ul>

    <hr />
  </li>
  {% endfor %}
</ol>



{% endfor %}

{% endblock %}
