{% extends "base.html" %}

{% load admin_urls %}
{% load url from future %}
{% load kadist %}

{% block title %}Ksearch - survey{% endblock %}

{% block content %}
<style type="text/css">
  .similarlist {
    width: {{ similarwidth }};
  }
</style>
<p>Formulas :
  <ul>
    {% for p, name in profiles.items %}
    <li>{{ p }} : {{ name }}</li>
    {% endfor %}
  </ul>
</p>
<ol class="surveylist">
  {% for work in works %}
  <li class="surveywork"><strong>Reference</strong>: <a data-work="{{ work.pk }}" href="{{ work.get_absolute_url }}">{{ work.title }}</a> by <a href="/kadist/artist/{{ work.creator.pk }}">{{ work.creator }}</a> ({{ work.year }}).
    {% if work.imgurl %}
    <img class="illustration" src="{{ work.imgurl }}">
    {% endif %}
    <br/>
    <strong>Tags</strong> {% for kw in work.major_tags.all %}<a class="tag major" href="../tag/{{ kw }}">{{ kw }}</a> - {% endfor %}
    <p><strong>Similar works</strong></p>

    <div class="similarity_results">
    {% for profile in profiles %}
    <ol class="similarlist" data-profile="{{ profile }}">
      {% for s in work|similar:profile %}
      <li>
        <img class="tooltipimg" src="{{ s.work.imgurl }}" alt="" />
        <a data-work="{{ s.work.pk }}" title="{{ s.work.description }}" target="_blank" href="{{ s.work.url }}">{{ s.work }}</a> <a class="matrix similar{{ s.similarity|similarity_index }}" target="_blank" href="/kadist/matrix/{{ work.pk }}/{{ s.work.pk }}">{{ s.similarity|floatformat:2 }}</a>
      </li>
      {% endfor %}
    </ol>
    {% endfor %}
    </div>
    
    <hr />
  </li>
  {% endfor %}
</ol>

<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.min.js"></script>
<script type="text/javascript">
    {
        $("[data-work]").on("mouseenter", function (e) {
            $("[data-work=" + this.dataset.work + "]").addClass("highlight");
        }).on("mouseleave", function (e) {
            $(".highlight").removeClass("highlight");
        });
    }

</script>
{% endblock %}
