{% extends "base.html" %}

{% load admin_urls %}
{% load url from future %}

{% block title %}KCN - {{ kw }}{% endblock %}

{% block content %}
  <a href="..">Full tag list</a>
  <h1><em>{{ kw }}</em></h1>
  <h2>Works ({{ works|length }})</h2>
  <ul class="description">
    {% for w in works %}
    <li><a href="{{ w.get_absolute_url }}">{{ w.title }}</a> (<a href="{{ w.creator.get_absolute_url }}">{{ w.creator }}</a>) <span class="taglist">{% for t in w.tags.all %}<a class="tagref" href="{{ t.name }}">{{ t.name }}</a> -{% endfor %}</span></li>
    {% endfor %}
  </ul>

  <h2>Artists ({{ artists|length }})</h2>
  <ul class="description">
    {% for a in artists %}
    <li><a href="{{ a.get_absolute_url }}">{{ a.name }}</a> - {% for t in a.tags.all %}<a href="{{ t.name }}">{{ t.name }}</a> -{% endfor %}</li>
    {% endfor %}
  </ul>

  <div class="related_tags">
    {% include "related_tag.html" with tags=synonyms  title="Synonyms"      %}
    {% include "related_tag.html" with tags=hypernyms title="More general"  %}
    {% include "related_tag.html" with tags=hyponyms  title="More specific" %}
    {% include "related_tag.html" with tags=holonyms  title="Components"    %}
    {% include "related_tag.html" with tags=meronyms  title="Containers"    %}
  </div>

  <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.min.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}js/kadist.js"></script>

{% endblock %}
