{% extends "base.html" %}

{% load admin_urls %}
{% load url from future %}

{% block title %}Kadist catalogue navigator - artists{% endblock %}

{% block content %}
  <h1>Artists</h1>
  <ul class="worklist description">
    {% for a in object_list %}
    <li><a href="{{ a.get_absolute_url }}">{{ a.name }}</a> - {{ a.works.all|length }} work{{ a.works.all|pluralize }} <span class="taglist">{% for t in a.tags.all %}<a class="tagref" href="../tag/{{ t.name }}">{{ t.name }}</a> -{% endfor %}</span></li>
    {% endfor %}
  </ul>
{% endblock %}
