{% extends "base.html" %}

{% load admin_urls %}
{% load url from future %}

{% block title %}KCN - {{ artist.name }}{% endblock %}

{% block content %}
<h1>{{ artist.name }} <a class="editlink" href="{% url "admin:kadist_artist_change" artist.pk %}">Edit</a></h1>

<dl class="description">

  <dt>Country</dt>
  <dd> {{ artist.country }}</dd>

  {% if artist.description %}
  <dt>Description</dt>
  <dd> {{ artist.description }}</dd>
  {% endif %}

{% if artist.tags.all %}
  <dt>Tags</dt>
  <dd>{% for kw in artist.tags.all %}<a href="../../tag/{{ kw }}">{{ kw }}</a> - {% endfor %}</dd>
{% endif %}

  <dt>Works</dt>
  <dd>
    <ul class="worklist detailed">
      {% for w in artist.works.all %}
      <li><a href="{{ w.get_absolute_url }}">{{ w.title }}</a> <a class="editlink" href="{% url "admin:kadist_work_change" w.pk %}">Edit</a> <span class="taglist">{% for t in w.tags.all %}<a class="tagref" href="../tag/{{ t.name }}">{{ t.name }}</a> -{% endfor %}</span></li>
      {% endfor %}
    </ul>
  </dd>

{% if artist.tags.similar_objects %}
  <dt>Similar artists (based on tags)</dt>
  <dd>
    <ul class="worklist">
      {% for a in artist.tags.similar_objects|slice:":10" %}
      <li><a title="{{ a.similar_tags }} similar tags" href="{{ a.get_absolute_url }}">{{ a }}</a></li>
      {% endfor %}
    </ul>
  </dd>
{% endif %}

</dl>

{% endblock %}
