{% extends "base.html" %}

{% load admin_urls %}
{% load url from future %}

{% block title %}KCN - {{ artist.name }}{% endblock %}

{% block content %}
<h1>{{ artist.name }} <a class="editlink" href="{% url "admin:kadist_artist_change" artist.pk %}">Edit</a></h1>
<ul class="description">
  <li>Country: {{ artist.country }}</li>
  <li>Description: {{ artist.description }}</li>
  <li>Tags: {% for kw in artist.tags.all %}<a href="/kadist/tag/{{ kw }}">{{ kw }}</a> - {% endfor %}</li>
  <li>Works:
    <ul>
      {% for w in artist.works.all %}
      <li><a href="{{ w.get_absolute_url }}">{{ w.title }}</a> <span class="taglist">{% for t in w.tags.all %}<a class="tagref" href="/kadist/tag/{{ t.name }}">{{ t.name }}</a> -{% endfor %}</span></li>
      {% endfor %}
    </ul>
  </li>
  </ul>
{% endblock %}
