{% extends "base.html" %}

{% load admin_urls %}
{% load url from future %}

{% block title %}KCN - {{ work.title }}{% endblock %}

{% block content %}
<h1>{{ work.title }} <a class="editlink" href="{% url "admin:kadist_work_change" work.pk %}">Edit</a></h1>
<dl class="description">

  <dt>Artist</dt>
  <dd><a href="/kadist/artist/{{ work.creator.pk }}">{{ work.creator }}</a></dd>

  <dt>Year</dt>
  <dd>{{ work.year }}</dd>

  {% if work.worktype %}
  <dt>Worktype</dt>
  <dd>{{ work.worktype }}</dd>
  {% endif %}

  {% if work.technique %}
  <dt>Technique</dt>
  <dd>{{ work.technique }}</dd>
  {% endif %}

  <dt>Description</dt>
  <dd>{{ work.description }}</dd>

  <dt>Tags</dt>
  <dd>{% for kw in work.tags.all %}<a href="../../tag/{{ kw }}">{{ kw }}</a> - {% endfor %}</dd>

  <dt>Similar works (based on tags)</dt>
  <dd>
    <ul class="worklist">
      {% for w in work.tags.similar_objects|slice:":10" %}
      <li><a title="{{ w.similar_tags }} common tags" href="{{ w.get_absolute_url }}">{{ w }}</a></li>
      {% endfor %}
    </ul>
  </dd>

</dl>
{% endblock %}
