{% extends "base.html" %}

{% load admin_urls %}
{% load url from future %}
{% load kadist %}

{% block title %}KCN - {{ work.title }}{% endblock %}

{% block content %}
<h1>{{ work.title }} <a class="editlink" href="{% url "admin:kadist_work_change" work.pk %}">Edit</a></h1>
<dl class="description">

  <dt>Artist</dt>
  <dd><a href="/kadist/artist/{{ work.creator.pk }}">{{ work.creator }}</a> <a class="editlink" href="{% url "admin:kadist_artist_change" work.creator.pk %}">Edit</a></dd>

  <dt>Year</dt>
  <dd>{{ work.year }}</dd>

  {% if work.worktype %}
  <dt>Worktype</dt>
  <dd>{{ work.worktype }}</dd>
  {% endif %}

  {% if work.technique %}
  <dt>Technique</dt>
  <dd>{{ work.technique }}</dd>
  {% endif %}

  <dt>Description</dt>
  <dd>{{ work.description }}</dd>

{% if work.major_tags.all %}
  <dt>Major Tags</dt>
  <dd>{% for kw in work.major_tags.all %}<a href="../../tag/{{ kw }}">{{ kw }}</a> - {% endfor %}</dd>
{% endif %}

{% if work.tags.all %}
  <dt>Minor Tags</dt>
  <dd>{% for kw in work.tags.all %}<a href="../../tag/{{ kw }}">{{ kw }}</a> - {% endfor %}</dd>
{% endif %}

{% if work.major_tags.similar_objects %}
  <dt>Similar works (based on major tags)</dt>
  <dd>
    <ul class="worklist">
      {% for w in work.major_tags.similar_objects|slice:":10" %}
      <li><a title="{{ w.similar_tags }} common tags" href="{{ w.get_absolute_url }}">{{ w }} ({{ work|args:w|call:"similarity" }})</a></li>
      {% endfor %}
    </ul>
  </dd>
{% endif %}

</dl>
{% endblock %}
